.ebookBody{
	
	text-align:justify;
}

.col-md-4{
	float:left;
}

.quizesBody.dl-horizontal.dt { width:20px; }

.badge-danger {
  background-color: #d43f3a;
}

.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}

.panel-body .my{
	background:#D6D6C2;
}